.main-slider {
  &__item {
    background-color: $fc;
    height: 825px;
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 210px;
    padding-left: 295px;
  }

  &__title {
    color: $title-color;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    max-width: 415px;
  }

  &__text {
    margin-top: 40px;
    color: $header-color;
    @extend %rubik-400;
    font-size: 18px;
    max-width: 400px;
    display: block;
  }

  &__btn {
    display: inline-block;
    background-color: $a3;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    margin-top: 40px;
    padding: 20px 100px 20px 25px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform .3s;
    outline-color: #fff;

    &::after {
      content: url(../images/icons/arrow.svg);
      position: absolute;
      top: 20px;
      right: 17px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__images {
    position: relative;

    &::after {
      content: "";
      border-radius: 50%;
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0.595) 31.64%, rgba(255, 255, 255, 0.223) 74.35%, rgba(255, 255, 255, 0) 99.87%);
      position: absolute;
      width: 634px;
      height: 634px;
      top: 80px;
      left: 100px;
    }
  }


  &__img {
    padding-top: 275px;
    padding-right: 290px;
    position: relative;
    z-index: 999;
  }


  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 75px;
    right: 50%;

    li {
      padding: 0 5px;
      font-size: 11px;
      line-height: 1;
      color: #243f4d;

      button {
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        padding: 0;
        cursor: pointer;
        outline: none;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.3);
        }
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}