  .product-card {
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    min-height: 380px;
    max-width: 270px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);

      .product-card__links {
        transform: translateY(0);
      }
    }

    &__img {
      margin: auto auto;
    }

    &__links {
      position: absolute;
      top: 170px;
      left: 55px;
      transform: translateY(500%);
      transition: all 0.5s;
    }


    &__link {
      background-color: #fefefe;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      padding: 12px;
      display: inline-block;
      transition: all .3s;
      border: none;
      outline: none;
      box-shadow: 0 0 10px rgba(59, 59, 59, 0.5);
      cursor: pointer;
      font-size: 0;
      margin: 0 7px;

      svg {
        fill: $a3;
      }

      &:hover {
        background-color: $a3;

        svg {
          fill: #e6edf0;
        }
      }
    }

    &__name {
      @extend %dmsans-700;
      color: $title-color;
      margin-top: auto;
      text-align: center;
      margin-bottom: 15px;
    }

    &__price {
      @extend %dmsans-700;
      color: $a3;
      text-align: center;
    }
  }