.design {
  margin-bottom: 120px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 35px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $prod;
    text-align: center;
    margin-bottom: 35px;
  }

  &__filter {
    text-align: center;
    margin-bottom: 85px;
  }

  &__btn {
    border: none;
    background-color: inherit;
    color: #8b8b8b;
    @extend %dmsans-700;
    outline-color: #fcd7b6;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $prod;
    }
  }

  &__btn {
    &+& {
      margin-left: 30px;
    }
  }

  .mixitup-control-active {
    color: #1a1a1a;
  }

  &__card {
    height: 240px;
    max-width: 370px;
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(77, 77, 77, 0.2);
    transition: all 0.3s;

    &:hover {
      .design__link h3 {
        color: #fcd7b6;
      }
    }
  }

  &__name {
    text-align: left;
    @extend %dmsans-700;
    color: #1a1a1a;
    font-size: 20px;
    max-width: 173px;
    position: absolute;
    z-index: 99;
    top: 30px;
    left: 40px;
    transition: color 0.5s;
  }

  &__type {
    position: absolute;
    left: 40px;
    top: 90px;
    color: $a3;
    z-index: 99;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;

    &--black {
      top: 45px;
      right: 40px;
    }

    &--white {
      top: 35px;
      right: 25px;
    }
  }
}