.video {
  margin-bottom: 115px;

  &__popup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__popup-link {
    &:hover {
      transform: scale(1.1);
    }
  }
}