.news {
  margin-bottom: 80px;
  background: #fef7f0;
  background: linear-gradient(to bottom, #fff 43%, #fef7f0 1%);


  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $prod;
    text-align: left;
    margin-bottom: 35px;
  }

  &__more {
    @extend %dmsans-700;
    font-size: 16px;
    color: $news;
    padding-right: 20px;
    position: relative;

    &:hover {
      color: #91abb9;
    }

    &::after {
      content: url(../images/icons/arrow-right.png);
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 370px;
    min-height: 420px;
    position: relative;
    padding-bottom: 25px;
    cursor: pointer;

    &:hover {
      h3 {
        color: #91abb9;
      }
    }
  }

  &__type {
    background-color: #91abb9;
    width: 103px;
    height: 30px;
    z-index: 43;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 235px;
    left: 25px;
  }

  &__type span {
    color: #f8f8f8;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__image {
    margin-bottom: 35px;
  }

  &__content {
    @extend %dmsans-500;
    font-size: 18px;
    color: $news;



    h3 {
      max-width: 300px;
      padding: 0 25px 5px 0;
      margin-left: 30px;
      @extend %dmsans-500;
      font-size: 18px;
      color: $news;
      transition: color 0.3s;
    }
  }

  &__description {
    margin: 0 30px 0 30px;
    margin-top: auto;
    @extend %dmsans-500;
    font-size: 12px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;

    a {
      color: #222933;
      transition: all 0.5s;
    }

    a:hover {
      text-shadow: 1px 1px 2px black,
        0 0 1em rgb(160, 158, 158);
    }

    a+a {
      margin-left: 30px;
    }
  }
}

.partners {
  margin-top: 90px;
  padding-bottom: 90px;

  &__items {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1)
    }

    &+& {
      margin-left: 95px;
    }
  }
}